{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width={device-width}, initial-scale=1.0">
        {% block css_files %} 
            <link rel="stylesheet" href="{% static 'all_style.css' %}">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
            <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css'>
        {% endblock %}
        <title>Soento Energy</title> 
        <link rel="icon" href="{% static 'images/em.ico' %}" type="image/x-icon">
    </head>
    <body>
        {% block content %}

        {% endblock %}
        {% block js_files %}
            <script src="{% static 'bootstrap.min.js' %}"></script>
        {% endblock %}
    </body>
</html>