@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Rethink+Sans:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

  .sidebar-links li.satis_teklif_li {
  background: var(--main-color-dark);
}


.body-div {
  display: flex;
  height: 100vh;
  width: 100vw;
  /* background: url("/static/images/html_table.jpg") center / cover; */
  justify-content: center;
  align-items: center;
}
.right-menu {
  height: 100vh;
  width: calc(100% - 18rem);
  margin-left: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.active-tab {
  top: 234.5px !important;
}
::-webkit-scrollbar {
  width: 0 ;
} 
/* ::-webkit-scrollbar-thumb {
  background-color: #18283b;
  border: 2px solid #fff;
}  */
.bold700 {
  font-size: 0.8vw;
  font-weight: 700 !important;
}
.bold500 {
  font-size: 0.7vw;
  font-weight: 700 !important;
}
.mr-3 {
  margin-right: 0px;
}
.blue {
  background: #2c3e50;
  color: #fff !important;
}
.blue:hover {
  background: #445d77 !important;
  color: #fff !important;
}
.eclipse {
  font-size: 0.65vw;
  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0px 5px;
}

/*  Top Menu  */
.top-menu {
  background-color: #ffffff80;
  backdrop-filter: blur(7px);
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 0px;
  margin-bottom: 10px;
  height: 78px;
  width: 100%;
}
.top-menu span {
  color: #000000;
  cursor: pointer;
  font-weight: 600;
  font-size: 20px;
  border-bottom: 2px solid #000000;
  padding-bottom: 3px;
  margin-left: 30px;
}
.top-menu button {
  margin-right: 50px;
  cursor: pointer;
  background-color: #fff;
  padding: 10px 25px;
  border: none;
  font-size: 16px;
  border: solid 1px rgba(0, 0, 0, 0.3);
  border-radius: 40px;
}
.top_right_box {
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-menu button a {
  text-decoration: none;
  color: #000;
}
/*  Top Menu UL  */
.top-menu-ul {
  font-weight: 600;
  margin-left: 100px;
  display: flex;
  list-style-type: none;
  color: #000000;
}
.top-menu-ul li {
  padding: 10px 20px;
  cursor: pointer;
}

.top-menu-ul li:hover {
  border-bottom: 2px solid #000000;
}
.li-hover {
  border-bottom: 2px solid #000000;
}
/****************************************************************************************/

/* nav{
  width: 100% !important;
} */
.card * {
  user-select: none;
}

.sales_container {
  display: flex;
  flex-direction: row;
  /* width: 100%; */
  height: 100%;
  overflow: hidden;
}
.main-container {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  width: 100%;
  height: 88%;
  overflow: hidden;
}


.rows {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 16.5%;
  background-color: #ffffff80;
  backdrop-filter: blur(7px);
  overflow-y: scroll;
  border-right: 2px solid rgba(41, 60, 73, 0.3);
  
  
}


.card {
  width: 95%;
  position: relative;
  font-family: "Rethink Sans", sans-serif;
  /* height: 200px; */
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 5px #2c2c2c;
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
  font-size: 0.6vw;
  /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #ffffff80;
}
.card:hover {
  background-color: #ffffffc5;
}
.icon-blue {
  font-size: 35px;
}
.card-menu {
  position: absolute;
  right: 15px;
  top: 8px;
  cursor: pointer;
}
.card-menu i {
  font-size: 0.9vw;
}
.card-menu ul {
  display: none;
  position: absolute;
  right: -5px;
  top: 15px;
  list-style-type: none;
  background: #2c3e50;
  padding: 5px 10px;
  color: #fff;
  border-radius: 10px;
  font-size: 0.7vw;
}
.card-menu ul li a {
  text-decoration: none;
  color: #fff;
}

.card p {
  padding: 4px 0;
  font-weight: 500;
}
.boxes:last-child p {
  margin-bottom: 0;
}
.titles {
  display: flex;
}
.title-div {
  background-color: #fff;
}
.titles .title {
  font-weight: 600;
  color: #000;
  margin-right: -20px;
  font-size: 0.85vw;
  padding: 0px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0% 100%, 10% 50%, 0% 0%);
  background-color: #ffffff80;
  overflow: hidden;
}
.titles .title:first-child {
  clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0% 100%, 0 49%, 0% 0%);
}
.titles .title:last-child {
  clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 10% 50%, 0% 0%);
}
.total-cash {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1123123123;
  width: 100%;
  height: 26px;
  border-bottom: 1px solid #000;
}
.total-cash span:nth-child(1) {
  font-size: 0.7vw;
  margin-left: 10px;
  margin-right: auto;
  font-weight: 600;
  color: rgb(0, 0, 0);
}
.total-cash span:nth-child(2) {
  margin-right: 20px;
  margin-left: auto;
  font-weight: 600;
  color: rgb(0, 0, 0);
}
.boxes {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#list_table tbody tr{
  cursor: pointer;
}
.buttons button {
  color: #000;
  padding: 1px 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 1px #888888;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 5px;
  font-size: 0.6vw;
}
.buttons button:hover {
  background: #d8d8d8;
}

/*    *************************    List  **********************          */
.right-menu .container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
  overflow-x: auto; 
}
.top-container{
  border-radius: 20px;
  width: 100%;
  height: 88% !important;
  background-color: #ffffff80;
  backdrop-filter: blur(7px);
}
/*
.lists {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
   width: 100%; 
  height: 100%;
  position: relative;
}
.lists a {
  text-decoration: none;
  color: #000;
}
.lists table {
  text-decoration: none;
  color: #000;
}

.lists table {
  max-height: 200px;
  overflow-y: scroll;
  max-width: 3300px;
  text-align: center;
  border-collapse: collapse;
}
.lists thead {
  line-height: 70px;
  position: sticky;
  top: 0;
}
 .lists th:first-child {
  padding-left: 50px;
} 
.lists tbody {
  line-height: 45px;
}
.lists td:first-child {
  padding-left: 20px;
}
.table_row tbody tr:nth-child(even) {
  background-color: #d1d1d6;
}
.list-container tbody tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}*/
#column {
  width: 3px;
  left: 350px;
  background: #000;
  height: 100%;
}

.top-container table{
  width: 2800px;
}

thead th span.icon-arrow {
  font-family: sans-serif !important;
  display: inline-block;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  border: 1.4px solid transparent;

  text-align: center;
  font-size: 1rem;

  margin-left: 0.5rem;
  transition: 0.2s ease-in-out;
}

thead th:hover span.icon-arrow {
  border: 1.4px solid #007cf8;
}

thead th:hover {
  color: #007cf8;
}

thead th.active span.icon-arrow {
  background-color: #007cf8;
  color: #fff;
}

thead th.asc span.icon-arrow {
  transform: rotate(180deg);
}

thead th.active,
tbody td.active,
tbody td.active a {
  color: #007cf8;
}
.top-container::-webkit-scrollbar {
  z-index: 111111;
  /* width: 0.5rem; */
  height: 0.8rem;
  margin: 0 10px;
}

.top-container::-webkit-scrollbar-thumb {
  z-index: 111111;
  border-radius: 0.5rem;
  background-color: rgba(0, 0, 0, 0.658);
  /* visibility: hidden; */
}
.list_firt_tr a {
  text-decoration: none;
  color: #000;
  
}
td a{
  text-decoration: none;
  color: #000;
  font-size: 18px;
}

@media (max-width: 767px) {

  .top-menu .hamburger-button, .top-menu .hamburger-button2{
    display: block !important;
    margin-left: 20px;
    font-weight: 700;
    font-size: 20px;
    height: 100%;
    background-color: #fff5;
    padding: 1rem 1rem;
    border-radius: 2rem;
    border: none;
    transition: 0.2s;

    
  }
  
  .left-menu{
    display: none;
    background-color: #00000077 !important;
    position: absolute;
    z-index: 10000;
    width: 100% !important;
    height: 100% !important;

  }
  .left-menu nav{
    min-height: 97vh;
    background-color: rgba(255, 255, 255, 0.678);   
  }

  .right-menu{
    width: 97% !important;
    height: 100% !important;
    margin: auto !important;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  section.table__header p {
    font-size: 16px;
    font-weight: 600;
  }
  .export__file button {
    font-weight: 700;
    font-size: 14px;
    padding: 0 0.5rem;
  }
  .xspan{
    display: none;
  }
  .top-menu{
    backdrop-filter: none !important;
  }
  .top-menu-ul{
    display: none;
    font-size: 12px !important;
    /* padding: 10px 0; */
    position: absolute;
    flex-direction: column;
    width: 150px;
    background: #fff;
    z-index: 999 !important;
    right: 10px;
    top: 70px;
    border-radius: 20px;

  }
  .top-menu-ul li{
    padding: 10px;
  }
  .top-menu-ul li:first-child{
    padding: 10px;
    padding-top: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }
  .top-menu-ul li:last-child{
    padding: 10px;
    padding-bottom: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  .main-container{
    overflow-x: scroll;
  }
  .titles{
    width: 1632px !important;
    
  }
  .title{
    font-size: 16px !important;
  }
  .title p{
    font-size: 16px !important;
  }
  .card{
    font-size: 12px !important;
  }
  .bold700{
    font-size: 12px !important;
  }

  .sales_container{
    width: 1652px !important;
  }
  .sales_container .buttons button{
    font-size: 12px !important;
  }
  .total-cash span:nth-child(1){
    font-size: 12px !important;
  }
  .li-hover {
    border-bottom: none !important;
    background: #dfdfdf;
  }

  #list_table td:first-child a i{
    display: none;
  }
  #list_table td:first-child a span{
    display: block !important;
  }
  #list_table td:first-child a{  
    border: none !important;
    border-radius: 20px !important;
    background-color: #00000015 !important;
    width: 88%;
    height: 80%;
    padding: 10px;
  }
  .top-container table {
    width: 97vw;
  }

  #lost_table td:first-child a i, #won_table td:first-child a i, #sales_table td:first-child a i{
    display: none;
  }
  #lost_table td:first-child a span, #won_table td:first-child a span, #sales_table td:first-child a span{
    display: block !important;
  }
  #lost_table td:first-child a, #won_table td:first-child a, #sales_table td:first-child a{  
    border: none !important;
    border-radius: 20px !important;
    background-color: #00000015 !important;
    width: 97%;
    height: 85%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #lost_table td:first-child, #won_table td:first-child, #sales_table td:first-child{
    padding: 0 !important;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }



  .container table p {
    margin-left: 0; /* Önceki margin'ı sıfırla */
    margin-bottom: 10px; /* Yeni bir margin-bottom ekle */
    font-size: 20px;
    font-weight: 700;
  }

  /* Başlık satırlarındaki ok simgelerini gizle */
  .container table th span.icon-arrow {
    display: none;
  }

  /* Tablo başlıklarını genişlet */
  .container table thead {
    display: none !important;
  }

  /* Tablo başlıklarındaki metin boyutunu küçült */
  .container table th:nth-child(n+2) {
    font-size: 14px;
  }

  /* Tablo içeriğini küçült */
  .container table td {
    font-size: 14px;
  }  
  .container table td:first-child {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
  }

  .container table td:first-child::before{
    display: none;
  }
  .container table td:first-child button i{
    display: none;
  }
  .container table td:first-child button{
    border: none !important;
    border-radius: none !important;
    background-color: #00000015 !important;
    width: 100%;
    height: 100%;
  }
  .container table td:first-child button span{
    display: block !important;
  }

  /* Dikey tablo satırları için */
  .container table tr {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }

  .container table tr td {
    display: flex;
    gap: 10px;
    padding: 8px;
    border-bottom: 1px solid #ccc; /* Satır aralarına sınır ekle */
  }

  .container table tr td:before {
    content: attr(data-label);
    color: #0b0b49;
    font-weight: bold;
    margin-right: 10px;
  }
  .container table td:before {
    text-align: left !important;
  }

  /* ekleme sayfası */

 .window .container{
  width: 90% !important;
  max-height: 70%;
  overflow-y: scroll;
 }
 .window .container .input-box {
  width: 90% !important;
}
}