:root {
    --background: #7597c0;
    --navbar-width: 256px;
    --navbar-width-min: 80px;
    --navbar-dark-primary: #18283b;
    --navbar-dark-secondary: #2c3e50;
    --navbar-light-primary: #f5f6fa;
    --navbar-light-secondary: #8392a5;
  }
  





  #nav-bar {
    height: 100%;
    background: var(--navbar-dark-primary);
    display: flex;
    flex-direction: column;
    color: var(--navbar-light-primary);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;
    user-select: none;
  }
  /* #nav-bar {
    height: 100%;
    background: var(--navbar-dark-primary);
    display: flex;
    flex-direction: column;
    color: var(--navbar-light-primary);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;
    user-select: none;
  } */
  #nav-bar hr {
    margin: 0;
    position: relative;
    left: 16px;
    width: calc(100% - 32px);
    border: none;
    border-top: solid 1px var(--navbar-dark-secondary);
  }
  #nav-bar a {
    color: inherit;
    text-decoration: inherit;
  
  }
  #nav-bar input[type=checkbox] {
    display: none;
  }
  
  #nav-header {
    position: relative;
    width: var(--navbar-width);
    left: 16px;
    width: calc(var(--navbar-width) - 16px);
    min-height: 80px;
    background: var(--navbar-dark-primary);
    border-radius: 16px;
    z-index: 2;
    display: flex;
    align-items: center;
    transition: width 0.2s;
  }
  #nav-header hr {
    position: absolute;
    bottom: 0;
  }
  
  #nav-title {
    font-size: 1.5rem;
    transition: opacity 1s;
  }
  
  label[for=nav-toggle] {
    position: absolute;
    right: 0;
    width: 3rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  #nav-content {
    margin: -16px 0;
    padding: 16px 0;
    position: relative;
    flex: 1;
    width: var(--navbar-width);
    background: var(--navbar-dark-primary);
    box-shadow: 0 0 0 16px var(--navbar-dark-primary);
    direction: rtl;
    overflow-x: hidden;
    transition: width 0.2s;
  }
  #nav-content::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  #nav-content::-webkit-scrollbar-thumb {
    border-radius: 99px;
    background-color: #D62929;
  }
  
  #nav-content-highlight {
    position: absolute;
    left: 16px;
    top: -70px;
    width: calc(100% - 16px);
    height: 54px;
    background: var(--background);
    background-attachment: fixed;
    border-radius: 16px 0 0 16px;
    transition: top 0.2s;
  }
  #nav-content-highlight:before, #nav-content-highlight:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 100%;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    box-shadow: 16px 16px var(--background);
  }
  #nav-content-highlight:after {
    top: 100%;
    box-shadow: 16px -16px var(--background);
  }
  .nav-button {
    position: relative;
    margin-left: 16px;
    height: 54px;
    display: flex;
    align-items: center;
    color: var(--navbar-light-secondary);
    direction: ltr;
    cursor: pointer;
    z-index: 1;
    transition: color 0.2s;
  }
  .nav-button span {
    transition: opacity 1s;
  }
  .nav-button .fas {
    transition: min-width 0.2s;
  }
  .nav-button:nth-of-type(1):hover {
    color: var(--navbar-dark-primary);
  }
  .nav-button:nth-of-type(1):hover ~ #nav-content-highlight {
    top: 16px;
  }
  .nav-button:nth-of-type(2):hover {
    color: var(--navbar-dark-primary);
  }
  .nav-button:nth-of-type(2):hover ~ #nav-content-highlight {
    top: 70px;
  }
  .nav-button:nth-of-type(3):hover {
    color: var(--navbar-dark-primary);
  }
  .nav-button:nth-of-type(3):hover ~ #nav-content-highlight {
    top: 124px;
  }
  .nav-button:nth-of-type(4):hover {
    color: var(--navbar-dark-primary);
  }
  .nav-button:nth-of-type(4):hover ~ #nav-content-highlight {
    top: 178px;
  }
  .nav-button:nth-of-type(5):hover {
    color: var(--navbar-dark-primary);
  }
  .nav-button:nth-of-type(5):hover ~ #nav-content-highlight {
    top: 232px;
  }
  .nav-button:nth-of-type(6):hover {
    color: var(--navbar-dark-primary);
  }
  .nav-button:nth-of-type(6):hover ~ #nav-content-highlight {
    top: 286px;
  }
  .nav-button:nth-of-type(7):hover {
    color: var(--navbar-dark-primary);
  }
  .nav-button:nth-of-type(7):hover ~ #nav-content-highlight {
    top: 340px;
  }
  .nav-button:nth-of-type(8):hover {
    color: var(--navbar-dark-primary);
  }
  .nav-button:nth-of-type(8):hover ~ #nav-content-highlight {
    top: 394px;
  }
  
  #nav-bar .fas {
    min-width: 3rem;
    text-align: center;
  }
  
  #nav-footer {
    position: relative;
    width: var(--navbar-width);
    height: 54px;
    background: var(--navbar-dark-secondary);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    z-index: 2;
    transition: width 0.2s, height 0.2s;
  }
  
  #nav-footer-heading {
    position: relative;
    width: 100%;
    height: 54px;
    display: flex;
    align-items: center;
  }
  
  #nav-footer-avatar {
    position: relative;
    margin: 11px 0 11px 16px;
    left: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    transform: translate(0);
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
  }
  #nav-footer-avatar img {
    height: 100%;
  }
  
  #nav-footer-titlebox {
    position: relative;
    margin-left: 16px;
    width: 10px;
    display: flex;
    flex-direction: column;
    transition: opacity 1s;
  }
  
  #nav-footer-subtitle {
    color: var(--navbar-light-secondary);
    font-size: 0.6rem;
  }
  
  #nav-footer-toggle:checked + #nav-footer {
    height: 30%;
    min-height: 54px;
  }
  #nav-footer-toggle:checked + #nav-footer label[for=nav-footer-toggle] {
    transform: rotate(180deg);
  }
  
  label[for=nav-footer-toggle] {
    position: absolute;
    right: 0;
    width: 3rem;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s, opacity 0.2s;
  }
  
  #nav-footer-content {
    margin: 0 16px 16px 16px;
    border-top: solid 1px var(--navbar-light-secondary);
    padding: 16px 0;
    color: var(--navbar-light-secondary);
    font-size: 0.8rem;
    overflow: auto;
  }
  #nav-footer-content::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  #nav-footer-content::-webkit-scrollbar-thumb {
    border-radius: 99px;
    background-color: #D62929;
  }
  
  .errorlist {
    border: 2px solid ; /* Örnek bir hata durumu sınır rengi */
    color: white;
    background: linear-gradient(135deg, #71b7e6, #191970);
  }
  .error-container {
    position: absolute;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .error-triangle {
    position: absolute;
    top: 2px;
    left: 8%;
    margin-left: -9px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #71b7e6; /* Hata rengi */
  }
  .error-message {
    display: flex;
    margin-left: 10px;
    margin-right: 30px;
    height: 100%;
  }        
          
  