{% extends "base.html" %}
    {% load static %}
    {% load custom_tags %}

    {% block css_files %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css'>
    <link rel="stylesheet" href="{% static 'all_style.css' %}">
    <link rel="stylesheet" href="{% static 'details_projects.css' %}">
    <link rel="stylesheet" href="{% static 'center.css' %}">
    <link rel="stylesheet" href="{% static 'sec-inputs.css' %}">
    <style>
      ::-webkit-scrollbar {
        width: 0 !important;
      }
    </style>
    {% endblock %}
    
    {% block title %} Income Edit {% endblock %}
    {% block content %} 
<div class="body-div">
    {% include 'partials/_left_nav_bar.html' %}
<div class="right-menu">
    <div class="nav-bar">
        <div class="nav-span">
            <div class="backBtn">
                <a href="{% url 'income_details' project_name=income_edit.ProjectName_Incomes %}">
                    <button id="backBtn" class="button-project">
                        <i class="fa-solid fa-arrow-left"></i>
                    </button>
                </a>
                <span>
                    </span>
            </div>
            <span>{{income_edit.ProjectName_Incomes}}</span>
            <span></span>
        </div>
    </div>
    <div class="center">
      <div class="container">
          <div class="title">Gelir Güncelle</div>
          <form id="my-form" action="{% url 'income_edit' income_id=income_edit.id %}" method="post">
            {% csrf_token %}
          <div class="user-details">

              <div style="display:none;" class="input-box" name="ProjectName_Incomes">
                <span class="details">Proje Adı</span>
                <input  name="ProjectName_Incomes" value="{{ income_edit.ProjectName_Incomes }}">
              </div>

              <div class="input-box">
                <span class="details">Alıcı Firma</span>
                <select name="CompanyName_ReceivePayment_Incomes" id="id_CompanyName_ReceivePayment_Incomes">
                  {% for x in my_company %}
                    {% if income_edit.CompanyName_ReceivePayment_Incomes == x.MyCompanyName  %}
                      <option value="{{x.id}}" selected>{{ income_edit.CompanyName_ReceivePayment_Incomes }}</option>
                    {% endif %}
                  {% endfor %}
                  {% for x in my_company %}
                    {% if income_edit.CompanyName_ReceivePayment_Incomes != x.MyCompanyName  %}
                      <option value="{{x.id}}">{{x.MyCompanyName}}</option>
                    {% endif %}
                  {% endfor %}
                </select>
              </div>
             
              <div class="input-box">
                <span id="odeme_yapan_firma_span" class="details">Ödeme Yapan Firma*</span>
                <div class="dropdown-container">
                    <input autocomplete='off' value="{{income_edit.CompanyName_Pay_Incomes}}" type="text" id="id_CompanyName_Pay_Incomes" name="CompanyName_Pay_Incomes" class="myInput" placeholder="Firma Adını Seçiniz" data-dropdown="dropdown1">
                    
                  
                  <div id="dropdown1" class="dropdown-content">
                        {% for x in client %}
                            <span value="{{x.id}}" class="dropdown-item">{{x.CompanyName_Clients}}</span>
                        {% endfor %}
                  </div>
                </div>
              </div>

              <div class="input-box" name="Amount_Incomes">
                  <span class="details">Alınan Miktar (₺)</span>
                  <input autocomplete='off' class="coc-input" type="text" name="Amount_Incomes" id="id_Amount_Incomes" step="0.0001" value="{{income_edit.Amount_Incomes}}" placeholder="0.00">
              </div>
              <div class="input-box" name="Dollar_Rate_Incomes">
                  <span class="details">Dolar Kuru (₺)</span>
                  {{ edit_form.Dollar_Rate_Incomes }}
              </div>
              <div class="input-box" id="chek_date_box">
                <span class="details">Tarih </span>
                <input class="coc-input" type="text" name="ChekDate_Incomes" id="id_ChekDate_Incomes" value="{{ income_edit.ChekDate_Incomes|date:'Y-m-d' }}" placeholder="01.01.2000" maxlength="10"/>
              </div>
              <div class="input-box" name="PaymentType_Incomes">
                <span class="details">Ödeme Türü</span>
                {{ edit_form.PaymentType_Incomes }}
              </div>
              <div class="input-box">
                <span class="details">Kur Saati</span>
                <select name="" id="kur-time">
                  <option value="secenek1">Kur Saati Seçiniz</option>
                  <option value="secenek2">15:30'dan Önce</option>
                  <option value="secenek3">15:30'dan Sonra</option>
                </select>
            </div> 
              <div style="display: none;" class="input-box chek-last-date-box" >
                <span class="details">Çek Son Kullanma Tarihi </span>
                <input class="coc-input" type="text" name="LastChekDate_Incomes" id="id_LastChekDate_Incomes" value="{{ income_edit.LastChekDate_Incomes|date:'Y-m-d' }}" placeholder="01.01.2000" maxlength="10"/>
            </div>   
            
        </div>      
          <div class="button">  
            <input id="project-create-btn" type="submit" value="Kaydet">
          </div>
          </form>
      </div>
    </div>  
</div>
</div>
{% endblock %} 

  {% block js_files %} 
  <script src="{% static 'functions.js' %}"></script> 
  <script src="{% static 'income_edit.js' %}"></script> 
  
  <script>
        
    var amountInput = document.querySelector("#id_Amount_Incomes");    
      var kurInput = document.querySelector("#id_Dollar_Rate_Incomes");
      var dateForKur = document.querySelector("#id_ChekDate_Incomes"); 
      var timeForKur = document.querySelector("#kur-time");            
      var buyingValues ; 
      var tarih ;
      
      //**************      KUR HESAPLAMA      ********************
      
      
      var dosyaURL = "{% static 'kur.json' %}";
   //selection seçimine göre yapılacak işlem
          
          timeForKur.addEventListener('change', function () {
              // Seçilen değeri al
              const secilenDeger = timeForKur.value;
             
              // Seçilen değere göre işlem yap
              if (secilenDeger === 'secenek1') {
                  
              } else if (secilenDeger === 'secenek2') {
                  tarih = birGunOncekiTarih(dateForKur.value);
                  console.log(tarih);
                  fetch(dosyaURL)
                  .then(response => response.json())
                  .then(data => {
                    try {
                      // Hedef tarihi kullanarak veriyi filtrele
                      const hedefVeri = data.items.find(item => item.Tarih === tarih);
                
                      if (hedefVeri) {
                        // TP_DK_USD_S alanını konsola yazdır
                        //console.log(hedefVeri.TP_DK_USD_S);
                        kurInput.value = hedefVeri.TP_DK_USD_S
                        console.log(hedefVeri.TP_DK_USD_S);
                      } else {
                        console.log('Belirtilen tarihe ait veri bulunamadı.');
                      }
                    } catch (parseHata) {
                      console.error('JSON parse hatası:', parseHata);
                    }
                  })
                  .catch(err => {
                    console.error('Dosya okuma hatası:', err);
                  });
              ////-----------------------------------------
                      
              } else if (secilenDeger === 'secenek3') {
                //console.log(dateForKur.value);
                  tarih = tarihFormatiniDegistir(dateForKur.value);    
                  console.log(tarih);
                  fetch(dosyaURL)
                  .then(response => response.json())
                  .then(data => {
                    try {
                      // Hedef tarihi kullanarak veriyi filtrele
                      const hedefVeri = data.items.find(item => item.Tarih === tarih);
                
                      if (hedefVeri) {
                        // TP_DK_USD_S alanını konsola yazdır
                        console.log(hedefVeri.TP_DK_USD_S);
                        kurInput.value = hedefVeri.TP_DK_USD_S
                      } else {
                        console.log('Belirtilen tarihe ait veri bulunamadı.');
                      }
                    } catch (parseHata) {
                      console.error('JSON parse hatası:', parseHata);
                    }
                  })
                  .catch(err => {
                    console.error('Dosya okuma hatası:', err);
                  });
              }
          });
      
 </script>
  
  {% endblock %}

  